# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.backup
*.log
!terraform.tfvars.example
crash.log
crash.*.log

# Local Terraform directories
.terraform/
.terraform.lock.hcl

# Temp files
.DS_Store
Thumbs.db

# IDE / OS configs
.vscode/
.idea/
Thumbs.db

# --- Node/React (app) ---
app/**/node_modules/
app/**/npm-debug.log
app/web/dist/
app/web/.vite/
app/**/.DS_Store

# --- Docker ---
**/.dockerignore