# Terraform
*.tfstate
*.tfstate.*
*.tfvars          # si contienen datos sensibles (ej: passwords, keys)
*.backup
*.log
!terraform.tfvars.example
crash.log
crash.*.log

# Directorio local de terraform init
.terraform/
.terraform.lock.hcl

# Archivos temporales
.DS_Store
Thumbs.db

# IDE / OS configs
.vscode/
.idea/
Thumbs.db

# --- Node/React (app) ---
app/**/node_modules/
app/**/npm-debug.log
app/web/dist/
app/web/.vite/
app/**/.DS_Store

# --- Docker ---
**/.dockerignore