service:
  type: ClusterIP
  port: 3000
  targetPort: 3000
  portName: http

probes:
  enabled: true
  path: /api/healthz
  initialDelaySeconds: 10
  periodSeconds: 10

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  cpu:
    enabled: true
    averageUtilization: 60
  memory:
    enabled: false

serviceAccount:
  create: true
  name: app-api

pod:
  # The ARN for IRSA is inyected via helm --set during deploy
  serviceAccountAnnotations: {}

env:
  - name: AWS_REGION
    value: us-east-1
  - name: S3_BUCKET
    value: justi-app-dev-215873709989

secretEnv:
  - name: DATABASE_URL
    secretName: app-db
    secretKey: DATABASE_URL

serviceMonitor:
  enabled: true
  namespace: monitoring
  path: /metrics
  interval: 30s

alerts:
  enabled: true
  errorRateThreshold: 0.02          # 2%
  latencyP95ThresholdSeconds: 0.5    # 500 ms
  for: 10m