replicaCount: 1

image:
  repository: ""
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

resources:
  requests:
    cpu: "50m"
    memory: "128Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"

# Each release can set its own ServiceAccount
serviceAccount:
  create: false
  name: ""

pod:
  serviceAccountAnnotations: {}

# Env by default is empty
env: []
secretEnv: []