service:
  type: ClusterIP
  port: 80
  targetPort: 80
  portName: http

probes:
  enabled: true
  path: /
  initialDelaySeconds: 5
  periodSeconds: 10

hpa:
  enabled: false

serviceAccount:
  create: false
  name: default

pod:
  serviceAccountAnnotations: {}

env:
  - name: APP_API_URL
    value: /api

serviceMonitor:
  enabled: false

alerts:
  enabled: false